form {
  border: 2px solid #ab8b74;
  margin: 10px 5%;
  border-radius: 25px;
  padding:10px;
  text-align: center;
}

.rssEntry {
  border: 2px solid #ab8b74;
  margin: 5px 5%;
  border-radius: 25px;
  padding:10px;
  text-align: center;
}

.rssEntry img {
  width: 0%;
  height: 0%;
  display: none;
}

.resize {
    max-width:50vh;
    height: auto;
}

.date {
  font-size: .85em;
  float: right;
}
